.form__button {
  background-color: #EA5D4A;
  color: #fff;
  width: 245px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 570px) {
  .form__button {
    width: 308px;
  }
}
